/*========== Google fonts link ==========*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/*========== Css variables ==========*/
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/*========== Html reset ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 1rem;
}

/*========== Product card ==========*/
.product-card{
  max-width: 600px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1.75fr 2fr;
  overflow: hidden;
}

.image__box{
  background-image: url(images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card__data{
  background: var(--white);
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  width: 100%;
}

.product{
  font-size: .913rem;
  letter-spacing: 5px;
  color: var(--grayish-blue);
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.5rem;
}

.product__title{
  font-size: 2.25rem;
  font-weight: 700;
  font-family: 'Fraunces', sans-serif;
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

.product__description{
  font-size: .875rem;
  line-height: 1.6;
  color: var(--grayish-blue);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.product__prices{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.product__price{
  font-family: 'Fraunces', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-cyan);
  margin-bottom: 1.5rem;
}

.crossed__price{
  font-size: .913rem;
  font-weight: 500;
  color: var(--grayish-blue);
  position: relative;
  z-index: 1;
}

.crossed__price::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background: var(--grayish-blue);
  z-index: -1;
}

.product__button{
  width: 100%;
  background: var(--dark-cyan);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: .5s;
}

.product__button img{
  width: 18px;
  height: 18px;
}

.product__button:hover{
  background: hsl(158, 36%, 26%);
}

.attribution{
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 425px) {
  .product-card{
    grid-template-columns: 1fr;
  }

  .image__box{
    height: 200px;
  }
}